# InspIRCd 
#
# This file is part of the InspIRCd package provided by nalika in copr. You may
# modify it as necessary to fit your environment and needs. In the event you
# make changes, please place the file in /etc/systemd/system to ensure package
# updates do not override your changes.
# 

[Unit]
Description=InspIRCd - Internet Relay Chat Daemon
Documentation=https://docs.inspircd.org
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=inspircd
Group=inspircd
ExecStart=/usr/sbin/inspircd --nofork --nopid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
